.pageController {
  width: 100%;

  .tabBar {
    position: relative;
    top: 0;
    height: 30px;
    background-color: rgba(darken($colorGray, 5%), $alpha: 0.8);
    display: grid;
    grid-auto-flow: column;
  }

  .tab {
    @include dispFlex;
    @include flexCenter;
    color: $colorMain;
    font-size: 70%;
    border: {
      bottom: 1px solid;
      right: 1px solid;
      color: darken($colorGray, 10%);
    }

    &:hover {
      background-color: rgba(darken($colorGray, 10%), $alpha: 0.8);
    }
  }

  .tabFocus {
    background-color: rgba(lighten($colorGray, 10%), $alpha: 0.8);
    border-bottom: none;
    pointer-events: none;
  }
}
