$colorMain: rgb(38, 63, 92);
$colorGray: rgb(223, 223, 223);
$colorNoticeGreen: rgb(93, 196, 46);
$colorNoticeRed: rgb(226, 0, 0);

// shogi
$colorGreen: rgb(133, 164, 120);
$colorRed: rgba(250, 128, 128, 0.7);
$colorBlue: rgba(132, 176, 252, 0.7);
